:root {
  --clr-red: #EA4B5E;
  /* primario */
  --clr-orange: #F27D72;
  /* secundario */
  --clr-dark: #191919;

  --clr-gray: #5e5e5e;
  /* fuentes, fondos */
  --clr-white: #f4f4f4;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 100px;  en caso de un navbar ajustar tamaño*/
}

body {
  min-height: 100vh;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
  color: var(--clr-dark);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 200;
  letter-spacing: 2px;
  padding-left: 2px;
}

p {
  color: var(--clr-gray);
}

/* FLEX ROW Y FLEX COLUMN */
.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

section,
footer {
  padding: 20px 20px;
  gap: 18px;
}

a.boton {
  padding: 10px 14px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  letter-spacing: 2px;
  padding-left: 16px;
}


/*responsive para pantallas de escritorio */
@media (min-width: 768px) {}