---
import Layout1 from "../layouts/Layout1.astro";

import Hero from "../sections/hero.astro";
import MisionVision from "../components/mision-vision.astro";
---

<Layout1 title="Tu Empresa">
	<Hero />

	<section id="puntos">
		<div class="flex-row puntos-grid">
			<div>
				<i class="bi bi-check-circle-fill"></i>
				<p>Característica 1</p>
			</div>
			<div>
				<i class="bi bi-check-circle-fill"></i>
				<p>Característica 2</p>
			</div>
			<div>
				<i class="bi bi-check-circle-fill"></i>
				<p>Característica 3</p>
			</div>
			<div>
				<i class="bi bi-check-circle-fill"></i>
				<p>Característica 4</p>
			</div>
			<div>
				<i class="bi bi-check-circle-fill"></i>
				<p>Característica 5</p>
			</div>
		</div>
	</section>

	<MisionVision />
</Layout1>

<style>
	#puntos > div.puntos-grid {
		flex-wrap: wrap;
		gap: 10px;
		justify-content: center;
	}

	#puntos > div > div {
		display: flex;
		flex-direction: row;
		align-items: center;
		max-width: fit-content;
		padding: 10px 15px;
		background-color: var(--clr-white);
		border: solid 1px var(--clr-gray);
		border-radius: 15px;
		gap: 10px;
		transition: var(--transition);
	}

	#puntos .bi {
		font-size: 1.4rem;
		color: var(--clr-dark);
		transition: var(--transition);
	}

	@media (hover: hover) {
		#puntos > div > div:hover .bi,
		#puntos > div > div:hover p {
			color: var(--clr-primary);
		}
	}
</style>
