<section class="flex-row">
  <div>
    <h2><i class="bi bi-graph-up-arrow"></i>MISÍON</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur sint
      veritatis, itaque rem molestias vel assumenda totam odit non temporibus
      neque eum? Saepe alias est quidem labore quas consequuntur officiis.
    </p>
  </div>

  <div>
    <h2><i class="bi bi-lightbulb"></i>VISIÓN</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur sint
      veritatis, itaque rem molestias vel assumenda totam odit non temporibus
      neque eum? Saepe alias est quidem labore quas consequuntur officiis.
    </p>
  </div>
</section>

<style>
  section {
    flex-wrap: wrap;
  }

  div {
    border: var(--clr-dark) 2px solid;
    padding: 30px 20px;
    border-radius: 18px;
    max-width: 400px;
  }

  h2 {
    display: flex;
  }

  i {
    margin-right: 4px;
  }
</style>
