<section>
  <h2>SECTION1</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ipsa fugit,
    fuga minus odit vero non explicabo! Fugit necessitatibus quia, soluta quas
    non totam delectus magni mollitia dolores, voluptatem porro!Lorem ipsum
    dolor sit amet, consectetur adipisicing elit. Nisi ipsa fugit, fuga minus
    odit vero non explicabo! Fugit necessitatibus quia, soluta quas non totam
    delectus magni mollitia dolores, voluptatem porro!
  </p>
</section>

<style>
  p {
    text-align: justify;
  }
</style>
