<section>
  <h2>SECTION2</h2>
  <img src="img/img1.jpg" alt="" />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ipsa fugit,
    fuga minus odit vero non explicabo! Fugit necessitatibus quia, soluta quas
    non totam delectus magni mollitia dolores, voluptatem porro!
  </p>
</section>

<style>
  img {
    width: 100%;
    border-radius: 12px;
  }

  p {
  }
</style>
